<div id="sidebar-nav" class="sidebar">
    <div class="side-nav">
    <ul>
        <li><a href="/admin/" id="indexPage">后台首页</a></li>
        <li><a href="/admin/manager" id="managerPage">管理员</a></li>
        <li><a href="/admin/link" id="linkPage">资源连接</a></li>
        <li><a href="/admin/message" id="messagePage">留言管理</a></li>
        <li><a href="/admin/genre" id="genrePage">文章分类</a></li>
        <li><a href="/admin/article" id="articlePage">文章管理</a></li>
    </ul>
    </div>
</div>
<script type="text/javascript">
    let pageSign = '<%= pageSign %>';
</script>
