<div class="right-panel">
    <div class="right-panel-con">
        <div class="person-h"><img src="/images/person.png"></div>
        <div class="person-c">
            我叫李湘华，一名在前端开发边缘蹉跎了好几年的无业游民。无喜好、无特长、无案底。
        </div>
    </div>
</div>
<div class="right-panel">

    <div class="right-panel-con">
        <p><img src="/images/r-banner01.jpg"> </p>
        <p class="blank10"></p>
        <p><img src="/images/r-banner02.jpg"> </p>
    </div>
</div>
<div class="right-panel">
    <div class="right-panel-title">最新文章</div>
    <div class="right-panel-con">
        <% if (typeof(latestArticles) !== 'undefined' && latestArticles.length > 0) { %>
        <ul class="right-ul-item">
            <% latestArticles.forEach(function (article) { %>
            <li>- <a href="/article/<%= article._id %>"><%= article.title %></a></li>
            <% }) %>
        </ul>
        <% } %>



    </div>
</div>