<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/js/base.js"></script>
    <link rel="stylesheet" href="/style/base-reset.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
<div id='markLoading' class='mark-loading'>
    <div class='spinner'>
        <div class='double-bounce1'></div>
        <div class='double-bounce2'></div>
    </div>
</div>
<div class="home-warp" id="home-warp">
    <canvas id="demo-canvas"></canvas>
    <div class="container">
        <div class="contenttop">
            <h1><img src="/images/banner.png" alt="tensweets 十个糖果"></h1>
        </div>
        <div class="contentwarp">
            <ul class="contentul">
                <% genres.forEach(function (genre) { %>
                <% if (genre.isNav) { %>
                <li>
                    <div class="genreicon"><img src="<%= genre.icon %>"></div>
                    <div class="genretitle"><%= genre.title %></div>
                    <div class="genretext"><a href="/article/?genre=<%= genre.genreName %>">READ MORE</a></div>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>