<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<%- include('header')%>
<%- include('sidebar')%>
<div>managermanagermanagermanager</div>



<%- include('footer')%>
</body>
</html>