<footer class="footer">
    <a href="/" class="footer-item"><i class="iconfont">&#xe600;</i>首页</a>
    <a href="/article/?genre=all" class="footer-item"><i class="iconfont">&#xe617;</i>文章</a>
    <a href="/links" class="footer-item"><i class="iconfont">&#xe701;</i>文档</a>
    <a href="/message" class="footer-item"><i class="iconfont">&#xe604;</i>关于</a>
    <a class="footer-item" id="reward"><i class="iconfont">&#xe637;</i>打赏</a>
    <a href="/sentences" class="footer-item"><i class="iconfont">&#xe618;</i>笔记</a>
</footer>
<script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/script/prism.js"></script>
<script type="text/javascript" src="/m/js/base.js"></script>