<div class="footerwarp">
    <div class="bottomcon">
        <span>© 2018</span><span>邮箱：11407215#qq.com</span><span><a href="https://github.com/webskys/" target="_blank">GitHub</a></span><span><span>沪ICP备12039518号-6</span><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274824385'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D1274824385%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span>
    </div>
</div>
<script type="text/javascript">
    var pageSign = '<%= pageSign %>';
</script>
<script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/script/prism.js"></script>
<script type="text/javascript" src="/pc/js/base.js"></script>
