<div class="banner banner02">
    <div class="warp" style="text-align:center">
        <span class="top-middle"><img src="<%= article.genre.icon %>"><i><%= article.genre.title %></i></span>
    </div>
</div>